<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to experiences_path, class: "navbar-brand" do %>
      <h5>Like a local</h5>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-link" data-bs-toggle="modal" data-bs-target="#new" role="button">
              Offer an experience
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link disabled">
              <%= current_user.name %>
            </span>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "avatar.webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <!-- Modal -->
          <div class="modal fade" id="new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h1>New Experience</h1>
                  <%= simple_form_for(@experience) do |f| %>
                  <%= f.error_notification %>
                  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                  <div class="form-inputs">
                    <%= f.input :location, label: 'Meeting Point'%>
                    <%= f.input :title %>
                    <%= f.input :price %>
                    <%= f.input :description %>
                    <%= f.input :week_days, label: 'Which week days the experience is available?' %>
                    <%= f.input :starting_time %>
                    <%= f.input :duration, label: 'How long last the experience?' %>
                    <%= f.input :photo, as: :file %>
                    <%= f.button :submit, class: 'btn btn-outline-dark' %>

                    <% end  %>

                  </div>

                </div>

              </div>


            </div>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
