
<div class="my-bm-container">
  <h1>What would you like to change?</h1>
  <%= simple_form_for(@experience) do |f| %>
  <div class="form-inputs">
    <%= f.input :location, label: 'Meeting Point'%>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :week_days, label: 'Which week days the experience is available?' %>
    <%= f.input :starting_time %>
    <%= f.input :duration, label: 'How long last the experience?' %>

  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-outline-dark' %>
  </div>
  <% end  %>
</div>
</div>
