<div class="container my-3 px-5">
  <h1>Experiences</h1>
  <div class="cards mb-5">
    <% @experiences.each do |experience| %>
    <div class="card-trip">
      <% if experience.photo.attached? %>
        <%= cl_image_tag experience.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "no-image-found.png", height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= experience.title  %></h2>
          <p><%= experience.description  %></p>
          <%= link_to "Show more", experience_url(experience) %>
        </div>
        <h2 class="card-trip-pricing"><%= experience.price  %></h2>
        <% if current_user && current_user.avatar.attached? %>
          <% if experience.user.avatar.attached? %>
            <%= cl_image_tag experience.user.avatar.key, class: "card-trip-user avatar-bordered" %>
          <% else %>
            <%= image_tag "avatar.webp", class: "card-trip-user avatar-bordered" %>
          <% end %>
        <% else %>
          <%= image_tag "avatar.webp", class: "card-trip-user avatar-bordered" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>








<!-- Modal -->
<div class="modal fade" id="new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>New Experience</h1>
        <%= simple_form_for(@experience) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :location, label: 'Meeting Point'%>
          <%= f.input :title %>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.input :week_days, label: 'Which week days the experience is available?' %>
          <%= f.input :starting_time %>
          <%= f.input :duration, label: 'How long last the experience?' %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: 'btn btn-outline-dark' %>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>
