

<div class="banner" id="my-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("trip-image.jpg") %>)">
    <div class="container">
    <h3>Experience your destination</h3>
      <h1>Like a Local</h1>
    </div>

<div class="search-bar">
  <%= form_tag experiences_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Which city you want to experience?"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

  </div>


<div class="container text-center ">
  <div class="row justify-content-center">
    <div class="col-6">

      <h1 style="padding: 30px">&nbsp;</h1>

    </div>
  </div>
</div>






<div class="container my-3 px-5 experiences-list">

  <div class="cards mb-5">
    <% @experiences.each do |experience| %>
      <div class="card-trip">
        <% if experience.photo.attached? %>
          <%= cl_image_tag experience.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "no-image-found.png", height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= experience.title  %></h2>
            <p> <strong> <%= experience.location %> </strong> </p>
            <p><%= experience.description[0..90] %>... </p>
            <%= link_to "Show more", experience_url(experience) %>
          </div>
          <h2 class="card-trip-pricing">R$<%= sprintf("%.2f", experience.price) %></h2>
          <% if experience.user.avatar.attached? %>
            <%= cl_image_tag experience.user.avatar.key, class: "card-trip-user avatar", alt: "avatar"%>
          <% else %>
            <%= image_tag "avatar.webp", class: "card-trip-user avatar-bordered" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="map" style="height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
