<% if @experience.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @experience.photo.key %>)">
    <div class="container">
      <h1><%= @experience.title %></h1>
    </div>
    <div class="place-me mt-5">
      <% if current_user.id != @experience.user_id %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#order">
          Order now!
        </button>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("trip-image.jpeg") %>)">
    <div class="container">
      <h1><%= @experience.title %></h1>
    </div>
    <div class="place-me mt-5">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#order">
        Order now!
      </button>
    </div>
  </div>
<% end %>




<div class="show-body mb-5">
  <div class="my-container">
    <div class="container row mt-5">
      <p><strong>Location:</strong> <%= @experience.location %></p>
      <p><strong>Price: </strong>R$<%= sprintf("%.2f", @experience.price) %></p>
      <p><strong>Availability: </strong><%= @experience.week_days %></p>
      <p><strong>Duration:</strong><%= @experience.duration > 1 ? " #{@experience.duration} hours" : " #{@experience.duration} hour" %></p>
      <p><strong>Starting time:</strong> <%= @experience.starting_time.strftime("%H:%M") %></p>
    </div>

    <div class="container mt-5">
      <h5><%= @experience.description %></h5>
    </div>
  </div>
</div>



<div class="modal fade" id="order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@experience, @order] do |f| %>
        <%= f.input :attendees, placeholder: 'Add number of people' %>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.button :submit, class: 'btn btn-outline-dark' %>

        <% end  %>
      </div>
    </div>
  </div>
</div>
