<div class="container">
  <h1><%= @experience.title %></h1>
  <h4><%= @experience.description %></h4>
  <p><strong>Price: </strong>R$<%= @experience.price %>0</p>
  <p><strong>Availability: </strong><%= @experience.week_days %></p>
  <p><strong>Duration:</strong> <%= @experience.duration %> Hours </p>
  <p><strong>Starting time:</strong> <%= @experience.starting_time.strftime("%H:%M") %></p>

  <%= link_to "New order", new_experience_order_path(@experience) %>

</div>
