<div class="container my-experiences px-4">
  <div class="cards mb-5">
    <div class="experiences-title">
      <h2 class="my-5 ml-2">My experiences</h2>
      <div class="create-experience">
        <%= link_to "Create experience", new_experience_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <% if current_user.experiences && current_user.experiences.length > 0 %>
      <% current_user.experiences.each do |experience| %>
      <div class="card-trip">
        <% if experience.photo.attached? %>
          <%= cl_image_tag experience.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "no-image-found.png", height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= experience.title  %></h2>
            <p><%= experience.description  %></p>
            <% if current_user.id != experience.user_id %>
              <%= link_to "My orders", experience_orders_path(experience) %>
            <% else %>
              <%= link_to "Orders", experience_orders_path(experience) %>
            <% end %>
          </div>
          <h2 class="card-trip-pricing">R$<%= experience.price  %>0</h2>
          <% if experience.user.avatar.attached? %>
            <%= cl_image_tag experience.user.avatar.key, class: "card-trip-user avatar", alt: "avatar"%>
          <% else %>
            <%= image_tag "avatar.webp", class: "card-trip-user avatar-bordered" %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>No experiences registered yet.</p>
    <% end %>
  </div>
  <div class="container">
    <h2 class="my-5">My orders</h1>

    <% if current_user.orders.length > 0 %>
      <% current_user.orders.each do |order| %>
        <h5><%= order.experience.title %></h5>
        <div class="notification">
          <div class="notification-content">
            <% if order.date %>
              <p><small><%= order.date.strftime('%dth %B') %></small></p>
            <% end %>
            <p><%= order.attendees %> attendees.</p>
          </div>

          <div class="notification-actions">
            <i class="fas fa-pencil-alt" data-bs-toggle="modal" data-bs-target="<%= "#order#{order.id}" %>">
              <%= link_to " ", experience_order_path(order.experience_id, order.id), method: :patch %>
            </i>
            <%= link_to experience_order_path(order.experience_id, order.id), method: :delete, data: { confirm: 'Are you sure?'}, class: "task-remove" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
        <%= render 'shared/modal_order', order: order %>
      <% end %>

    <% else %>
      <p>No orders registered yet.</p>
    <% end %>
  </div>

</div>
</div>
